<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guests</title>
</head>
<body>
    <h2>Showing all Guests</h2>
    <table>
        <tr>
            <th>Guest Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email address</th>
        </tr>
        <tr th:each="guest : ${guests}">
            <td th:text="${guest.getGuestId()}">Guest Id</td>
            <td th:text="${guest.getFirstName()}">First name</td>
            <td th:text="${guest.getLastName()}">Last name</td>
            <td th:text="${guest.getEmailAddress()}">Email address</td>
        </tr>
    </table>
</body>
</html>